<div class="card mx-auto text-center border-light" style="width: 18rem">
  <img src="assets/angular.png" class="card-img-top" alt="Angular Logo" />
  <div class="card-body">
    <h5 class="card-title">Angular Project</h5>
    <p class="card-text">
      A personal blog created with the angular framework and the scully static
      site generator
    </p>
    <a href="https://angular.io/" target="_blank" class="card-link">Angular</a>
    <a href="https://scully.io/" target="_blank" class="card-link">Scully</a>
  </div>
</div>
